@import "tailwindcss";
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (prefers-color-scheme: dark) {
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-josefin-sans),sans-serif;
   overflow-y: hidden;
}
input:focus {
  outline: none;
}
.bg-active-gradient {
  background: linear-gradient(to right, #F5A623, #E09415);
}
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  margin-left: 5px;
}
*::-webkit-scrollbar-track {
  background: #F1F1F1;
  border-radius: 10px;
  margin-left: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: #D3AC45;
  border-radius: 10px;
  border: 3px solid #F1F1F1;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #D3AC45;
}
.animate-fade-in {
  animation: fadeInScale 0.4s;
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-wrapper:focus-visible,
.recharts-surface:focus-visible {
  outline: none !important;
}
@keyframes move-rays {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.rays {
  animation: move-rays 2s ease-in-out infinite;
}
@keyframes draw-path {
  0% { stroke-dasharray: 0, 100; }
  100% { stroke-dasharray: 100, 0; }
}
.svg-logo {
  animation: rotate-logo 5s linear infinite, neon-glow 2s infinite alternate;
  transform-origin: center;
}
.svg-logo path {
  fill: none;
  stroke: #00363E;
  stroke-width: 2;
  stroke-dasharray: 0, 100;
  animation: draw-path 3s ease-in-out forwards;
}
@keyframes dashed-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.dashed-spinner {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 4px dashed #FFC321;
  border-radius: 50%;
  animation: dashed-spin 3s linear infinite;
  margin-top: 27px;
}
.svg-logo {
  position: absolute;
  transform-origin: center;
  animation: rotate-logo 5s linear infinite, neon-glow 2s infinite alternate;
}